* {
    background: rgb(156, 224, 156);

}

body {
    font-family: 'Akshar', sans-serif;
}


a {
    text-decoration: none;
    color: black;
}

.div-parrafo1 {

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    background-color: greenyellow;
    color: black;
    padding-left: 250px;
    border: solid green;
    margin-top: 15px;

}

.h1-titulo {
    background-color: green;
    font-size: 25px;
    color: white;
    display: inline;
    margin-right: 15px;
    padding: 15px;

}

img {
    width: 1325px;
    height: 500px;
}


.ol-titulo {
    list-style: none;
    font-size: 20px;
    background-color: greenyellow;
    border: solid green 3px;
    padding-left: 15px;

}

.ul-catalogo {
    list-style: none;
    font-size: 15px;
    color: black;
    font-size: 25px;
}



.h5-nuevo {
    background-color: green;
    font-size: 25px;
}



.parrafo-seccion2 {
    background-color: greenyellow;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.parrafo-seccion3 {
    background-color: greenyellow;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

}

.h6-rebajas {
    background-color: green;
    font-size: 25px;

}

.parrafo-derechos {
    background-color: black;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.parrafo-seccion-redes {
    color: white;
    background-color: black;
}



ul li {
    display: inline;
    padding-left: 10px;
    font-size: 20px;
}

.img-remera {
    width: 500px;
    height: 500px;
}

.img-pantalon {
    width: 500px;
    height: 500px;
}

.img-buzo {
    width: 500px;
    height: 500px;
}

.img-zapatilla {
    width: 500px;
    height: 500px;
}

.img-campera {
    width: 500px;
    height: 500px;
}



.ul-catalogo-ropa {
    background-color: greenyellow;
    padding-left: 450px;
    border: solid green;
}

.catalogo-index {
    list-style: none;
    font-size: 20px;
    background-color: greenyellow;
    border: solid green 3px;
    margin: 15px;
    padding: 15px;

}

.section-hombre-mujer {
    display: grid;
    margin: 5px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 100px;
    
    



}

.div-grid {
    border: solid green;
    background-color: greenyellow;
    font-size: 30px;
    font-style: bolder;
    text-align: center;
    padding-top: 25px;
    


}